<header>
  <h1 class='splashHeader'>Werewolf Generator</h1>
  <h4>For when you are the narrator but your imagination sucks. </h4>
</header>
<div class='splashes col-md-6'>
  <a href="/stories">
  <h4>View all stories!</h4>
  <img class='splashPic pull-left' src="https://media.wizards.com/images/magic/daily/arcana/878_q1n2n_7.jpg" alt="">
  </a>
</div>
<div class ='splashes col-md-6'>
  <a href="/stories/random">
    <h4>Generate a story!</h4>
    <img class='splashPic pull-right' src="https://magic.wizards.com/sites/mtg/files/image_legacy_migration/images/magic/daily/arcana/803_2b.jpg" alt="">
  </a>
</div>
