*{
  font-family: 'Playfair Display SC', serif;
}

.navbar-default {
  background-color: #8c3232;
  border-color: #c0392b;
}
.navbar-default .navbar-brand {
  color: #d4b18a;
  background-color: #8c3232;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #d4b18a;
  background-color: #c0392b;
}
.navbar-default .navbar-text {
  color: #d4b18a;
  background-color: #8c3232;
}
.navbar-default .navbar-nav > li > a {
  color: #d4b18a;
  background-color: #8c3232;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #d4b18a;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #d4b18a;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #d4b18a;
  background-color: #c0392b;
}
.navbar-default .navbar-toggle {
  background-color: #8c3232;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #8c3232;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #8c3232;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #d4b18a;
}
.navbar-default .navbar-link {
  color: #d4b18a;
}
.navbar-default .navbar-link:hover {
  color: #d4b18a;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #d4b18a;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #d4b18a;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #d4b18a;
    background-color: #c0392b;
  }
}

body{
  background-color: #2B1E15;
}

h3{
  position: relative;
  bottom: 65%;
  left: 25%;
  right: 25%;
  width: 45%;
  text-align: center;
}

.stories{
  background-color: #422E24;
  color: #D4B18A;
  border-radius: 5px;
  margin: 10px;
  width: 100%;
}

.storiesLogo{
  height: 40vh;
  color: #D4B18A;
}

.storiesPicture{
  height: 100%;
  width: 100%;
  opacity: .2;
}
